.col-lg-7
  :markdown

    # About this site

    fallacymania.com site is being developed by Yuri Baranov &copy; 2014

    FALLACYMANiA game concept has been originated by Aleksandr Popov and Yuri Baranov


    ## Acknowledgment and attribution

    This site uses several media works created by third parties

    * First and foremost I would like to express gratitude to the folks of [Information is Beautiful][1] and
      especially David McCandless for creating pictograms and descriptions of [Rhetological fallacies][2], which became the
      primary inspiration for FALLACYMANiA project
      * [CC BY-NC 3.0][3] &mdash;  David McCandless &copy; 2013
      * Images from [Rhetological fallacies][2] are used throughout this site with necessary technological adapatation
    * [Zen Temple Bell Sound][4]
      * [CC BY 3.0][5] Recorded by [Mike Koenig][6]
    * [Tick Sound][7]
      * [CC BY 3.0][5] Recorded by [DeepFrozenApps][8]
      * Version used on this site has been slightly edited
    * This site does **not** yet use images of [Fallacy Man][9] and [Cognitive Bias Boy][10] by [Existencial Comics][11]


    [1]:  http://www.informationisbeautiful.net/
    [2]:  http://www.informationisbeautiful.net/visualizations/rhetological-fallacies/
    [3]:  http://creativecommons.org/licenses/by-nc/3.0/
    [4]:  http://soundbible.com/1477-Zen-Temple-Bell.html
    [5]:  http://creativecommons.org/licenses/by/3.0/
    [6]:  http://koenigmediallc.com/mike-koenig-nc.php
    [7]:  http://soundbible.com/2044-Tick.html
    [8]:  https://twitter.com/DeepFrozenApps
    [9]:  http://existentialcomics.com/comic/9
    [10]: http://existentialcomics.com/comic/21
    [11]: http://existentialcomics.com/

  = link_to "Start the game", :main, :class=>"btn btn-lg btn-primary", :id => "acknowledge"
