
.turn90
  %h1
    FALLACYMANiA
    %small
      alpha
  -# TODO: DRY (see sprites_helper)
  .sprite{ :id => "f#{Sprite.random_id}", :style => "float: none; margin: 0 auto"}
  %p.lead
    = link_to "Start the game", :main, :class=>"btn btn-lg btn-primary", :id => "acknowledge"
    = link_to "About this site", :about, :class=>"btn btn-lg btn-default"
.btn-

//= javascript_include_tag  "http://getbootstrap.com/assets/js/docs.min.js"
%audio(src="/Zen.mp3" autoplay)
  Your browser does not support the <code>audio</code> element.

