= link_to "Join", new_game_player_path(@game), class:'btn btn-default'
= link_to "Start the game", start_game_path(@game), class: 'btn btn-primary', method: :patch
= link_to "Abort", '#', class:'btn btn-default'

