%h3 Players list
%ul.list-group#current-players
  - @players.each do |player|
    %li.list-group-item
      %h4.list-group-item-heading=  player.nick
      %p.list-group-item-text
        joined at
        %em= l player.created_at, format: :long