- model_class = Game
= render :partial => 'game_header'
= render :partial => 'players_list'

-#.form-group
-#  = link_to t('.back', :default => t("helpers.links.back")), games_path, :class => 'btn btn-default'
-#  = link_to t('.edit', :default => t("helpers.links.edit")), edit_game_path(@game), :class => 'btn btn-default'
-#  = link_to t('.destroy', :default => t("helpers.links.destroy")), game_path(@game), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'