# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  admin_name: First User
  admin_email: user@example.com
  admin_password: changeme
  email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
  domain_name: localhost
  secret_key_base: eea31bce4767456e94bff5c638c98ad0000000000000000000000000000000000000000000000000001350e8e597187bae3a42f8f65bba466414003c6f17af46
  google_oauth2_client_id: 672334646389-zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz.apps.googleusercontent.com
  google_oauth2_client_secret: g_qXP--2XXXXXXXXXXXXxxxS

test:
  secret_key_base: 926cf31ca31fac72673e00000000000000000000000000000000000000000000000000000000000000000000000000000000022d12f7be94f557dca53940ffb1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  google_oauth2_client_id: <%= ENV["GOOGLE_OAUTH2_CLIENT_ID"] %>
  google_oauth2_client_secret: <%= ENV["GOOGLE_OAUTH2_CLIENT_SECRET"] %>
