.cover-container
  %h1.cover-heading  FALLACYMANiA
  
  

.col-md-3.col-centered
  .row
    %button.btn.btn-default Text
  .row
    %button.btn.btn-default Text
  .row
    %button.btn.btn-default Text
  

